<div class="main-container" >
    <mat-toolbar >User</mat-toolbar>
    <form class="form" [formGroup]="form">

        <div class="row" style="padding-top: 10px !important;" >

            <div class="col-6">
                <div class="col">
                    <mat-radio-group [(ngModel)]="requestData.BaseAction.ActionType"  (change)="actionTypeChange($event)" formControlName="ActionType">
                        <mat-radio-button [value]="1">ACCEPTED</mat-radio-button>
                        <mat-radio-button [value]="2">REJECTED</mat-radio-button>
                        <mat-radio-button [value]="3">CANCELLED</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col">
                    <mat-form-field>
                        <textarea matInput  placeholder="Description" name="Description"
                            [(ngModel)]="requestData.BaseAction.Description" formControlName="Description"
                            matTextareaAutosize [matAutosizeMinRows]="5" [matAutosizeMaxRows]="5">
                        </textarea>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-6">
                <div class="col">
                    <mat-form-field>
                        <input matInput  placeholder="Name Surname" name="NameSurname" [readonly]="true"
                            [(ngModel)]="requestData.BaseAction.NameSurname" formControlName="NameSurname">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <input matInput  placeholder="Title" name="Title" [readonly]="true"
                            [(ngModel)]="requestData.BaseAction.Title" formControlName="Title">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <input matInput  placeholder="ActionDate" name="ActionDate" [readonly]="true"
                            [(ngModel)]="requestData.BaseAction.ActionDate" formControlName="ActionDate">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
</div>