<ng-template #childTemplate>
    <form class="form" [formGroup]="form">
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <input matInput required placeholder="Country" name="Country" [(ngModel)]="requestData.Country"
                        formControlName="Country">
                </mat-form-field>
            </div>
        </div>
    </form>
</ng-template>

<app-new-authorization-base [templateRef]='childTemplate'></app-new-authorization-base>

<app-user-approval-panel [toolbarText]="'Creater User'" [requestData]="requestData" [parentFormGroup]="form" [childPropertyName]="'BaseAction'"
    (responseData)="change($event)">
</app-user-approval-panel>
