/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


.main-container{
    box-shadow: 0 2px 2px rgba(255, 6, 6, 0.24), 0 0 2px rgba(255, 6, 6, 0.24);
    padding-bottom: 20px !important;
    margin: 1% !important;
  }
  
  .expansion-item{
    padding: 20px !important;
  }
  
  .expansion-item-header{
    padding: 20px !important;
  }
  
  .mat-expansion-panel {
    padding-bottom: 10px !important;
  }
  
  .mat-expansion-panel-header{
    background: rgba(0,0,0,.03) !important;
    padding: 16px !important;
    font-size: 18px !important;
    line-height: 25px !important;
    margin-bottom: 5px !important;
  }
  
  .mat-form-field {
    width: 100% !important;  
    height: 24px !important;
    font-size: 15px !important;
  }
  
  input[readonly]{
    background: rgba(116, 113, 113, 0.03);
  }
  
  .col {
    padding-bottom: 15px !important;
  }
  
  .mat-expansion-indicator {
    position: absolute !important;
  }
  
  .mat-expansion-panel-header-title{
    padding-left: 20px !important;
  }
  .mat-radio-label-content{
    font-size: 11px !important;
  }