<ng-template #childTemplate>
    <form class="form" [formGroup]="form">
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <input matInput required  [readonly]='requestData.Readonly' placeholder="City" name="City" [(ngModel)]="requestData.City"
                        formControlName="City">
                </mat-form-field>
            </div>
        </div>
    </form>
</ng-template>

<app-new-authorization-base   [templateRef]='childTemplate'></app-new-authorization-base>

<app-user-approval-panel [toolbarText]="'Checker User'" [readOnly]='requestData.Readonly' [requestData]="requestData" [parentFormGroup]="form" [childPropertyName]="'BaseAction'"  >
</app-user-approval-panel>

